<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Form UP</title>

</head>
<body>
    <header>
        <h1>Welcome to TrueForm</h1>

    </header>

    <div class="button-container">
        <form method="POST">
            <button class="button1" id="push_bttn" name="action" value="s_pushup">Push-Ups</button>
        </form>

         <form method="POST">
            <button class="button2" id="sit_bttn" name="action" value="s_situp">Sit-Ups</button>
        </form>

         <form method="POST">
            <button class="button3" id="demo_bttn" name="action" value="s_demo" >Demo</button>
        </form>
    </div>
    <img src="../styles/images/icon.png">
</body>
</html>

