@font-face {
  font-family: 'Chosence';
  src: url('fonts/Chosence Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  font-family: 'Chosence';
}

.home {

  display:block;
  font-family: 'Chosence';
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  color: black;
}
h1 {
  font-size: 50px;
}
p{
  font-size: 20px;
}
img {
  position: absolute;
    width: 150px;
    height: auto;
  top: 0px;
  left: 1100px;
}

